<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }

        .main-logo {
            position: absolute;
            top: 0;
            left: 0;
            max-width: 160px;
            max-height: 182.19px;
        }

        button, input[type="button"], input[type="submit"] {
            /* Resetting padding and margin */
            padding: 0;
            margin: 0;
            /* Resetting border */
            border: none;
            /* Resetting background and color */
            background-color: transparent;
            color: inherit;
            /* Resetting cursor */
            cursor: pointer;
            /* Resetting outline */
            outline: none;
            /* Resetting text decoration */
            text-decoration: none;
            /* Resetting font */
            font: inherit;
        }

    </style>
</head>
<body>
    <img class="main-logo" src="https://spge-bg.com/wp-content/uploads/2017/05/LogoSPGEwebTr.png">
</body>
</html>
@RenderBody()