<title>TestList</title>
<style>
    .flex-container {
        flex: 1 1 auto;
        overflow: auto;
    }

    .test-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .test-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 20px;
        min-height: 100px;
        width: 60%;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
        border-radius: 15px;
        padding: 20px;
    }

    .test-number {
        font-size: 40px;
        font-weight: bold;
    }

    .info-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .test-label {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
    }

    .test-info {
        font-size: 20px;
    } 
</style>
<section class="flex-container">
    @foreach(var test in Model)
    {
        <form class="test-form" method="post" asp-action="Test" asp-controller="InternetProtocol">
        <button class="test-box">
            <input type="hidden" name="testID" value="@test.ID">
            <div class="test-number">Тест №@test.ID</div>
            <div class="info-container">
                <div class="test-label">Имена / Номер / Клас</div>
                <div class="test-info">@test.Name / №@test.Number / @test.SchoolClass</div>
            </div>
            <div class="info-container">
                <div class="test-label">Предадено на:</div>
                    <div class="test-info">@test.TurnedInDateTime.ToString("dd.MM.yy HH:mm:ss")</div>
            </div>
        </button>
        </form>
    }   
</section>